:root {
  --bg-dark: oklch(0.1 0 20);
  --bg: oklch(0.15 0 20);
  --bg-light: oklch(0.2 0 20);
  --text: oklch(0.96 0 20);
  --text-muted: oklch(0.76 0 20);
  --highlight: oklch(0.5 0 20);
  --border: oklch(0.4 0 20);
  --border-muted: oklch(0.3 0 20);
  --primary: oklch(0.76 0.1 20);
  --secondary: oklch(0.76 0.1 200);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  --transition: 0.3s ease-in-out;
}

input:focus,
textarea {
  outline: none !important;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000) no-repeat
    fixed; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000) no-repeat fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0px;
  padding: 0px;
  color: var(--text);
  font-family: "Caveat", cursive;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.taskStack,
.noteStack {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin: 5%;
  margin-top: 1%;
  width: 40%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 50px;
  border-color: var(--border);
  background-color: var(--bg);
  box-shadow:
    0px 4px 4px #00000030,
    0px 12px 12px #00000015;
}

.taskTable li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1%;
  width: 100%;
  align-items: center;
}

.taskText {
  flex: 1 1 0;
  white-space: normal;
  word-break: break-word;
}

.oneTask:hover,
.noteText:hover {
  scale: 1.05;
  transition: var(--transition);
}

.taskTable {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 150%;
}

.taskInput {
  width: 87%;
  font-family: "Caveat", cursive;
  font-size: 150%;
  margin-bottom: 5%;
  padding: 1%;
  text-align: center;
  border-style: solid;
  border-color: var(--border);
  border-radius: 50px;
  background-color: var(--bg-light);
  color: var(--text);
}

.mainButton {
  width: 60%;
  padding: 1%;
  border-radius: 50px;
  border-style: solid;
  border-color: var(--border);
  background-color: var(--bg-light);
  color: var(--text);
  font-size: 110%;
  font-family: "Caveat", cursive;
  font-weight: bold;
}

.buttonDone {
  padding: 1%;
  width: 20%;
  border-radius: 50px;
  margin-left: 5%;
  background-color: var(--bg-light);
  color: var(--text);
  border-style: solid;
  border-color: var(--border);
  font-family: "Caveat", cursive;
  font-weight: bold;
}

.buttonDone:hover,
.mainButton:hover {
  background-color: var(--text);
  color: var(--bg-light);
}

.mainButton:hover {
  scale: 1.05;
  transition: var(--transition);
}

.noteBlock {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.noteTable {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  list-style: none;
  flex-wrap: wrap;
}

.noteInput {
  margin-bottom: 5%;
  width: 84%;
  height: 200px;
  font-size: 150%;
  border-radius: 50px;
  padding: 3%;
  border: solid var(--border);
  background-color: var(--bg-light);
  resize: none;
  color: var(--text);
  font-family: "Caveat", cursive;
  font-size: 150%;
}

.noteList {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5%;
  align-items: center;
}

.noteText {
  height: 100px;
  width: 100%;
  border-color: black;
  border-radius: 50px;
  padding: 5%;
  border: solid var(--border);
  background-color: var(--bg-light);
  color: var(--text);
  font-family: "Caveat", cursive;
  font-size: 150%;
  text-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.noteName {
  width: 60%;
  border-radius: 50px;
  height: 100%;
  text-align: center;
  margin-bottom: 5%;
  padding: 1%;
  background-color: var(--bg-light);
  border: solid var(--border);
  color: var(--text);
  font-family: "Caveat", cursive;
  font-size: 110%;
}
