body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.taskStack,
.noteStack {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin: 5%;
  width: 40%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-radius: 5px;
}

.taskTable li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid black;
  padding-bottom: 1%;
  border-radius: 1px;
  width: 100%;
  align-items: center;
}

.taskText {
  flex: 1 1 0; /* allows text to shrink and wrap */
  white-space: normal;
  word-break: break-word;
}

.taskTable {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.taskInput {
  width: 87%;
  margin-bottom: 5%;
  padding: 1%;
  font-size: 120%;
  text-align: center;
  border-color: black;
  border-radius: 5px;
}

.mainButton {
  width: 90%;
  padding: 1%;
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 5px;
}

.buttonDone {
  padding: 1%;
  width: 20%;
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 5px;
  margin-left: 5%;
}

.buttonDone:hover,
.mainButton:hover {
  background-color: whitesmoke;
}

.noteBlock {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.noteTable {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  list-style: none;
  flex-wrap: wrap;
}

.noteInput {
  width: 87%;
  margin-bottom: 5%;
  font-size: 150%;
  border-color: black;
  border-radius: 5px;
  height: 200px;
  resize: none;
  padding: 1%;
}

.noteList {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5%;
  align-items: center;
}

.noteText {
  height: 100px;
  width: 100%;
  resize: none;
  border-color: black;
  border-radius: 5px;
  background-color: ghostwhite;
  font-size: 140%;
  text-decoration: none;
  padding: 5%;
}
